:root {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

svg {
  width: 100%;
  height: 100%;
}

#posts {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  background-color: cyan;
  max-width: 70dvw;
  min-width: 70dvw;
  flex: 1;
  padding: 1rem;
}

.post {
  padding: 3rem;
  background-color: antiquewhite;

  & .info {
    display: flex;
    justify-content: space-between;
  }
}

#top_bar {
  width: 100%;
  height: 5rem;
  background-color: yellow;
  display: flex;
  align-self: stretch;

  &>nav {
    margin-inline: 2.5rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    &>* {
      flex: 1;
    }

    &>#user_info {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &>.search {
      display: flex;
      min-height: 2rem;
      background-color: white;
      border: 1px solid black;
      padding: 0.1rem;
      border-radius: 7px;

      &>button {
        border-radius: 5px;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: inherit;
        border: none;

        &:hover {
          background-color: gray;
        }
      }

      &>input {
        flex: 1;
        margin-block: 0.2rem;
        margin-right: 0.2rem;
        background-color: inherit;
        border: none;

        &:focus {
          outline: none;
        }
      }

      &:has(input:focus) {
        outline: 2px solid blue;
      }
    }
  }
}

.new_post {
  display: flex;
  flex-direction: column;

  &>input,
  &>textarea {
    font: inherit;
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  &>#title {
    flex: 0;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &>#content {
    flex: 1;
    max-height: 5rem;
    field-sizing: content;
    resize: none;
  }

}